---
layout: default
title: Home
---

<div class="posts">

  <div class="post">
    <h1 class="post-title">
      <a href="/tools/2016/10/13/getting-started-with-vscode-ext/">
        [★] VS Code 插件开发
      </a>
    </h1>
    <ul>
      <li><a href="/tools/2016/10/13/getting-started-with-vscode-ext/">1) VS Code 插件创建与发布</a></li>
      <li><a href="/tools/2016/10/14/vscode-ext-what-is-in-the-project/">2) VS Code 插件项目结构与配置文件</a></li>
      <li><a href="/tools/2016/10/15/vscode-ext-typescript-live-preview/">3) VS Code 插件示例，一个 TypeScript 即时预览插件</a></li>
    </ul>
    
  </div>

  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {% if post.excerpt %}
        {{ post.excerpt }}
        <a href="{{ post.url }}">
          阅读原文>>
        </a>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>